.card {
  width: 80%;
  
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--card-sec);
  border-radius: var(--radius-sm);
  display: flex;
  gap: var(--gutter-md);
}
.card .taskInput {
  background-color: transparent;
  width: 95%;
  border-bottom: 1px solid var(--border-pri);
  text-align: center;
  margin-bottom: var(--margin-sm);
}