.container {
  padding: var(--padding-md) var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}
.isActive {
  border-bottom: 1px solid red;
}
.tasksContainerPc {
  display: none;
}
.tasksContainerMb {
  background-color: var(--bg-pri);
  width: 100%;
  height: 80%;
  min-height: 40px;
  max-height: 520px;
  border-radius: var(--radius-sm);
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-sm);
  overflow-y: auto;
}
.filterTogglePc {
  display: none;
}
.filterToggleMb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (min-width: 786px) {
  .mainContainer {
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 650px;
  }
  .filterToggleMb {
    display: none;
  }

  .tasksContainerMb {
    display: none;
  }
  .tasksContainerPc {
    /* max-width: 650px; */
    display: flex;
    justify-content: space-evenly;
    gap: var(--gutter-md);
  }
  .left {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: var(--gutter-sm);
    border-right: 1px dotted var(--border);
    padding: var(--padding-sm);
  }
  .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gutter-sm);
    padding: var(--padding-sm) var(--padding-md);
  }
 
}
