.container {
  padding: var(--padding-md) var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}
.tasksContainer {
  background-color: var(--bg-pri);
  width: 100%;
  height: 80%;
  /* min-height: 440px; */
  max-height: 520px;
  border-radius: var(--radius-sm);
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-sm);
  overflow-y: auto;
}


