.container {
  padding: var(--padding-md) var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}
.isActive {
  border-bottom: 1px solid red;
  padding-bottom: var(--padding-sm);
}
.notActive,
.isActive {
  cursor: pointer;
}
.filterToggleMb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tasksContainerMb {
  height: 60vh;
  overflow-y: auto;
}
.tasksContainer {
  display: flex;
  flex-direction: column;
}
.left,
.right {
  display: none;
}

/* media queries */
@media (min-width: 700px) {
  .mainContainer {
    display: flex;
    justify-content: center;
  }
  .filterToggleMb,
  .tasksContainerMb {
    display: none;
  }
  .tasksContainer {
    flex-direction: row;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
    border-right: 2px solid var(--border);
    padding: var(--padding-md) var(--padding-md);
    margin-bottom: var(--margin-xl);
    height: 50vh;
    width: fit-content;
  }
  .right {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 440px;

    height: 50vh;
    gap: var(--gutter-sm);
    padding: var(--padding-sm) var(--padding-md);
  }
  .rightHead {
    position: sticky;
    padding: var(--padding-sm);
    top: 0;

    background: var(--bg-pri);
  }
  .rightBody {
    flex: 1;
    overflow-y: auto;
  }
}
