header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter-2xl);
  margin-top: var(--margin-sm);
}
input {
  /* border: none; */
  background-color: var(--bg-sec);
  padding: 2px var(--padding-md);
  border-radius: var(--radius-sm);
  color: var(--text-main);
}
.taskInput {
  border: 1px solid var(--border);
}
input:hover {
  background: var(--bg-ter);
}

button {
  padding: 2px var(--padding-sm);
  background: var(--success);
  border-radius: var(--radius-sm);
}
button:hover {
  background: var(--accent-soft);
}
