header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter-2xl);
  margin-top: var(--margin-sm);
}
input {
  /* border: none; */
  background-color: var(--bg-sec);
  padding: 2px var(--padding-md);
  border-radius: var(--radius-sm);
  color: var(--text-main);
}
.taskInput {
  border: 1px solid var(--border);
}
input:hover {
  background: var(--bg-ter);
}
.heroToggleContainer {
  max-width: 650px;
  
  
  

  display: flex;
  width: 100%;
  justify-content: space-between;
}
button {
  padding: 2px var(--padding-sm);
  background: var(--success);
  border-radius: var(--radius-sm);
}
button:hover {
  background: var(--success-hover);
}
.addTasksPc{
  display: none;
}

@media (min-width: 700px) {
  .heroToggleContainer {
    margin: var(--margin-2xl) auto;
    box-shadow: 0 30px 80px rgba(0,0,0,0.5);
    background: var(--bg-sec);
  padding: var(--padding-md);
  }
  .addTasksMb{
    display: none;
  }
  .addTasksPc{
    display: flex;
    
    gap: var(--gutter-sm);
  }
  .addTasksPc input{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border);
    transition: 0.2s ease;
  }
  .addTasksPc input:focus {
  border-bottom: 1px solid var(--accent);
}

}
